#logo a {
  min-height: 0;
  height: 120px;
  width: 280px;
  background-size: contain;
  display: block;
  margin-top: 20px;
}

#logo {
  display: flex;
  justify-content: center;
  text-align: center;
}
