#logo a {
  min-height: 0;
  height: 120px;
  width: 280px;
  background-size: contain;
  display: block;
  margin-top: 20px;
}

#logo {
  display: flex;
  justify-content: center;
  text-align: center;
}

.wufoo input.btTxt{
    background: #95c350;
    border: none;
    padding: 1rem 3rem .9rem;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "proxima-nova";
}
